<!--
Angular 2 CRUD application using Nodejs
@autthor Shashank Tiwari
-->

<h3 class="add-user-heading">Add/Upadte User </h3>
<hr>
    <div class="form-group">
		Email :
		<input class="form-control"
			type ="text"
			placeholder="Your email here."
			name= "email"
			[(ngModel)]="userModel.email">
	</div>

   <div class="form-group">
		Username :
		<input class="form-control"
			type ="text"
			placeholder="Your username here."
			name= "username"
			[(ngModel)]="userModel.username">
	</div>


	<div class="form-group">
		Firstname :
		<input class="form-control"
			type ="text"
			placeholder="Your firstname here."
			name= "firstname"
			[(ngModel)]="userModel.firstname">
	</div>

		<div class="form-group">
		Lastname :
		<input class="form-control"
			type ="text"
			placeholder="Your Lastname here."
			name= "lastname"
			[(ngModel)]="userModel.lastname">
	</div>

    <div class="form-group">
		Password :
		<input class="form-control"
			type ="text"
			placeholder="Your Password here."
			name= "password"
			[(ngModel)]="userModel.password">
	</div>


	<div class="form-group">
		Gender :
		<select class="form-control" name="gender" [(ngModel)]="userModel.gender">
			<option value='m'> Male </option>
			<option value='f'> Female </option>
		</select>
	</div>

	<div class="form-group">
		Country :
		<input class="form-control"
			type ="text"
			placeholder="Your Country here."
			name="country"
			[(ngModel)]="userModel.country">
	</div>

	<div class="form-group">
		<button *ngIf="isInsert" class="btn btn-primary" (click)="addUser()">Add User</button>
        <button  *ngIf="!isInsert" class="btn btn-primary" (click)="updateUser()">Update</button>
		<button  class="btn " (click)="resetAddUser()">Reset</button>
	</div>
